/* 
.Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-1-hex { color: #36BFB1; }
.Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-2-hex { color: #038C73; }
.Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-3-hex { color: #02735E; }
.Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-4-hex { color: #014034; }
.Teal-turquoise-aqua-glitter-celebrate-birthday-Christmas-sparkle-black-background-5-hex { color: #0D0D0D; }
 */
html{
    min-height: 100vh
}

header {
    background-color: #011526;
    color: white;
    padding: 20px;
    text-align: center;
    height: 100%;
    margin: 0px;
    text-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.795);

    display: flex;
    justify-content: center; /* Alinha os itens ao centro horizontalmente */
    align-items: center;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: white;
}

.abaco {
    display: flex;
    justify-content: center; /* alinhamento horizontal */
    align-items: center; /* alinhamento vertical */
    height: 60vh; /* altura da viewport */
}


.container {
    display: flex; /* Usa o flexbox para layout */
}

.div1, .div2 {
    
    width: 50%; /* Define a largura de cada div */
    height: 400px; /* Define a altura de cada div */
    box-sizing: border-box; /* Garante que a largura inclua a borda */
    font-size: 24px;
}

.div1 {
    text-align: center;
}

nav {
    background-color: white;
    padding: 30px;
    color: black;
}
nav > h3{
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: black;
    text-decoration: none;
}

#secaouniversal{
    margin: auto;
    width: 800px;
}
.secoes{
    padding-top: 80px;
    width: 800px;
    background-color: white;
    margin: auto;
}

.secoes > h3 {
    padding: 30px;
}

#secaouniversal > p{
    padding-top: 40px;
}

.titulos{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#titulo1{
    background-color: white;
    color: black;
    padding: 80px;
    width: 800px;
}
#section1{
    color: black;
}

#titulo2{
    background-color: #025959;
    color: white;
    padding: 80px;
    width: 800px;
}
#section2{
    color: black;
}

#titulo3{
    background-color: #038C65;
    color: white;
    padding: 80px;
    width: 800px;
}
#section3{
    color: black;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
#message {
    display: none;
    margin-top: 20px;
}

.video-container {
    float: right;
    position: relative;
    width: 620px; /* Ajuste conforme o tamanho do seu vídeo */
    height: 290px; /* Ajuste conforme o tamanho do seu vídeo */
}

video {
    width: 80%;
    height: 100%;
}

